.container--products{
      display: flex;
      overflow-x: scroll;
      gap: 4px;
      width: 100%;
}

@media screen and (min-width: 1000px){
      .container--products{
            overflow-x: hidden;
            flex-wrap:wrap;
            margin-left: 95px;
      }
}